body{
    font-family: Arial, Helvetica, sans-serif;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: rgb(5, 108, 116);
    background-color: aqua;
    width: 300px;
    height: 50px;
    text-align: center;
}

div:hover{
    color: rgb(160, 20, 43);
}