div {
    display: inline-block;
    background-color: rgb(169, 116, 230);
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: rgb(49, 11, 92);
    box-shadow: 2px 2px 10px rgb(115, 34, 168);
}

