@charset "UTF-8";

/*
    Em HTML é id == em CSS é # (único elemento).
    Em HTML é class == em CSS é (varios elementos).
*/

body{
    background-color: rgb(194, 250, 231);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}
h1{
    color: rgb(37, 150, 112);
    text-align: left;
}
h1#principal{
    color: aliceblue;
    text-align: center; 
    text-shadow: 1px 2px 2px rgb(42, 114, 114);
    background-color: rgb(37, 150, 112) ;
}
h2{
    color: rgb(8, 214, 145);
}
.basico{
    color: rgb(13, 212, 63);
}
.intermediario{
    color: rgb(199, 212, 13);
}
.avancado{
    color: rgb(212, 13, 13);
}

.destaque{
    background-color: rgba(255, 255, 0, 0.514);
    font-weight: bolder;
}