@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --tittle: #942060;
    --primary: #b9217a;
    --button-hover: #942060dc;
    --bg: #f7c5e0;
    --bg-acontecimentos:#d8709352;
    --bg-footer: #ec83bb;
    --bg-tittle: #f7c5e094;
    --bg-tittle-curiosidade: #d8709352;
    --text: #474849;
    --text-footer: #1d1c1c;
    --white: #ffffff;
    --box-shadow: #00000044;

    --font-padrao: "Poppins", sans-serif;
    --font-tittle: "Orbitron";
}

body{
    font-family: var(--font-padrao) ;
    margin: 0%;
}
body p{
    color: var(--text);
}

.titulos{
    font-family: var(--font-tittle);
    color: var(--tittle);
}
/*header*/
header{
    background-image: linear-gradient(to bottom, rgb(247, 197, 224), rgb(207, 92, 155)) ;
    padding: 5px;
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 3px var(--primary);
}
#button{
    background-color: var(--primary);
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 220px;
    text-align: center;
}
#button:hover{
    box-shadow: 1px 2px 3px var(--button-hover);
}
#button > a{
    color: var(--white);
    text-decoration: none;
}
#links {
    text-align: left;
        padding-top: 5px;
}
#links > a{
    color: var(--white);
    font-size: 13px;
    padding: 0px 5px;
    text-decoration: none;
}

#links > a:hover{
    color: var(--primary) ;
    background-color: var(--bg) ;
    border-radius: 5px;
}


/*main*/
main {
    background-color: var(--bg);
}

span a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

img{
    width: 17px;
    height: 17px;
}

.destaque{
    color: var(--primary);
    font-weight: bold;
}

#conteudo {
    background-color: var(--white);
    box-shadow: 0px 2px 5px var(--box-shadow);

    margin: 0 clamp(16px, 10vw, 150px);
    padding: 20px;
    border-radius: 5px;
}

#acontecimentos > h2{
    padding: 5px 8px;
    background-color: var(--bg-tittle);
    border-radius: 5px;
}

#image img {
    width: 100%;
    height: auto;
}


#video {
    background-color: var(--primary);
    margin: 0px -20px;
    padding: 20px;
   padding-bottom: 57%;
    position: relative;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 89%;

}

#curiosidades{
    background-color: var(--bg-tittle);
    padding: 0px 0px 5px 0px ;
    display: block;
    border-radius: 5px;
    margin-top: 20px;
}

#tituloscuriosidade{
    background-color:  var(--bg-tittle-curiosidade);
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
}

#detalhecuriosidade{
    padding: 2px 10px;
}
#colunas > a{
    padding: 5px;
}
li{
    text-align: left;
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/*footer*/
footer > p{
    text-align: center;
    background-color: var(--bg-footer) ;
    margin: 0%;
    padding: 10px;
    color: var(--text-footer);

}