@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body{
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: clamp(35px, 6vw, 60px);
    line-height: 5px;
}
header > h1{
    font-family: Passion One;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header > p > a{
    color: white;
    text-decoration: none;
}
main{
    font-size: 50px;
    font-family: Sriracha;
}


section.texto_cordel{
    padding: 50px ;
}
section.texto_cordel p{
    max-width:700px;
}

section.imagem_fundo{   
    min-height: 500px;
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*Cover: 100% 100%*/

}
section.imagem_fundo p{
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    text-shadow: 1px 3px 3px black;
    padding: 50px;
    white-space: pre-line;
    display:inline-block;
}

#imagem1{
    background-image: url("imagens/background001-g.jpg");
}

#imagem2{
    background-image: url("imagens/background002-g.jpg");
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}