@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body{
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 60px;
    line-height: 5px;
}
header > h1{
    font-family: Passion One;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header > p > a{
    color: white;
    text-decoration: none;
}
.texto_cordel{
    white-space: pre-line;
}

main{
    margin-left: 50px;
    font-size: 50px;
    font-family: Sriracha;
}
.imagem_fundo{
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
    
    
}
#imagem1{
    background-image: url("imagens/background001.jpg");
   
}
#imagem2{
    background-image: url("imagens/background002.jpg");
   
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}