@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif,Arial, Helvetica, sans-serif;
    font-size: 1em ;
    color: black;
    background-color: rgb(247, 223, 243);
}

h1{
    font-family: "Bodoni Moda", serif;
    font-size: 35px;
    color: rgb(102, 25, 121);
}

h2{
    font-weight: normal;
    font-size: 21px;
    color: rgb(123, 38, 145);
}