@font-face {
    font-family: cheva;
    src: url(fonts/Cheva\ Display\ Demo.otf) format(opentype);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'cheva', 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(12, 99, 99);
    font-weight: bold;
}