@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#FFFFFF,#DEEFE7);
}

main{
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #00233360;
    width: 600px;
    padding: 17px;
    margin: auto;
}
h1{
    color: #05c4d1;
    text-align: center;
    text-shadow: 1px 1px 2px #00233381 ;
}
h2{
    color: #269c9e;
}
p{
    text-align: justify;
}
